$myColor: #232121;
$hoverBlack: #282828;
$myGrey: #444444;

#cardShow {
    min-height: 5rem;
    margin:1rem;
    border-radius:1rem;
    background-color: $myColor;
    
    #cardBody {
        border: 1px solid $myGrey;
        border-radius: 1rem ;
        background-color: $myColor;
        &:hover {
            background-color:$hoverBlack;
            transition:0.3s;
        }
    }
    #cardTitle {
        font-family: 'DM Sans', sans-serif;
        color:white;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-word;
        overflow: hidden;
        &:hover {
            opacity:0.7;
            transition:0.3s;
        }
    }
    #cardTitle {
        font-size:1.75rem;
    }
    #cardButton {
        font-family: 'DM Sans', sans-serif;
        display:flex;
        justify-content:center;
        margin:auto;
        color:white;
        background-color:$myColor !important;
        border:1px solid white !important;
        border-radius: 0.5rem;
        &:hover {
            color:$myColor;
            background-color:white !important;
            border:1px solid $myColor !important;
            transition:0.3s;
        }
    }
    #gauge-chart5 {
        svg {
            height: 200px;;
            width:200;
        }
    }
}